NEXT_PUBLIC_API_URL = http://127.0.0.1:8000/api/

NEXT_PUBLIC_PALACTIX_API_URL=http://127.0.0.1:8000/api/v1

PALACTIX_API_URL=http://127.0.0.1:8000/api/v1
PALACTIX_APP_ID=
PALACTIX_APP_SECRET=

# Payment (Paddle)
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=test_12345
NEXT_PUBLIC_PADDLE_ENV=sandbox